body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0a0a0a, #0f172a, #1e1b4b);
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.profile {
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 30px purple;
}

.btn {
  padding: 10px 20px;
  background: purple;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

/* CARDS */
.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* CERT */
.cert-container {
  display: flex;
  justify-content: space-between;
}

.cert-list p {
  cursor: pointer;
  margin: 10px;
}

.cert-list p:hover {
  color: cyan;
}

.cert-display img {
  width: 400px;
  border-radius: 10px;
  transition: 0.3s;
}

.cert-display img:hover {
  transform: scale(1.05);
}